/* Placeholder Styles */
.lazy-title, #lazy-subtitle, #lazy-total, #lazy-discharged, #lazy-dead, #country-table, .lazy-label{
  background-color: #afb2b8;
  border-radius: 8px;
}
.lazy-title, #lazy-subtitle, #lazy-total, #lazy-discharged, #lazy-dead, #country-table{
  margin: 1.25em auto;
}
.lazy-title{
  height: 1.25em;
  width: 15.625em; /* 250px/16px */
}
#lazy-subtitle{
  height: 1.25em;
  width:50%;
}
#world-section, #country-section{
  margin: 5.625em auto;
}
#world-table{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: 1.25em auto;
}
#lazy-total, #lazy-discharged, #lazy-dead{
  height: 3.125em; /* 50px/16px */
  width: 6.25em;
}
.lazy-label{
  height: 1.25em;
  width: 9.375em; /* 150px/16px */
}
#country-table{
  width:70%;
  height: 12.5em; /* 200px/16px */
}


/*  Main Page Styles */
body{
  background-color: #fafbfb;
  font-size: 16px;
}
#app {
  margin: 5% 2% 5% 5%;
}
#app header{
  text-align: center;
}
#main{
  margin-top: 5%;
}
#stats{
  display: flex;
  margin-top: 10%;
}
#world-stats{
  margin: 0 auto;
  text-align: center;
}
#world-container{
  display: flex;
  justify-content: space-around;
  height: 9.375em; /* 150px/16px */
}
#world-container span{
  display: block;
}
.figure{
  font-size: 4em; /* 64px/16px*/
}
#confirmed, #recovered, #deaths{
  font-weight: 700;
  padding: 3.125em; /* 50px/16px */
}
#confirmed{
  color: blue;
}
#recovered{
  color: green;
}
#deaths{
  color:red;
}
#country-stats{
  width: 70%;
  margin: auto;
}
#country-stats h2{
  text-align: center;
  margin: 1em 0;
}
#table-footer ul{
  display: flex;
  justify-content: center;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.page-link{
  background-color: inherit;
}

@media screen and (max-width:600px){

}

@media  screen  and (min-width:601px) and (max-width:800px){

}

@media screen and (min-width:801px) and (max-width:1024px){
  
}